.child{
    width: 100%;
}

@media screen and (max-width: 600px) {
    mat-card {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1200px) {
    mat-card {
      width: 40%;
    }
  }